html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; 
}


article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; 
}

body {
  background: white;
  color: black;
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
}

#main{

}

#title{
  font-weight: 700;
  float: right;
  padding-right: 25px;
  padding-top: 15px;
  display: block;
  color: #504a4a;
}

#top-bar{
	width: 100%;
	margin-top: 10px;
	height: 3px;
	display: inline-block;
	background-color: #504a4a;
}

#commits-today{
	padding-top: 100px;
	text-align: center;
	font-weight: 200;
	font-size: 7em;
}

.divider {
	border: 0;
	margin: 10px auto 5px;
	width: 50%;
	
	height: 1px;
	background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
	background-image: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
	background-image: -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
	background-image: -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
}

ul{
	width: 80%;
	margin: 20px auto 5px;
	list-style: none;
	font-weight: 200;
	text-align: center;
	font-size: 1.5em;
}

li{
	padding-top: 20px;
}

a{

}

#repoBox{
	float: right;
	padding-top: 15px;
	padding-right: 25px;
	
}

.edit-repo {
	border: 3px solid rgb(30, 28, 28);
	border: 3px solid rgba(30, 28, 28, 0.05);
	-webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
	outline: none;
	font-size: 1em;
	font-weight: bold;
	display: block;
	background-color:#ffffff;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	color:#383838;
	padding:2px 8px;
	text-decoration:none;
}